@media (max-width: 685px) {
    .container {
        transform: translateY(-30px);
    }
}
@media (max-width: 600px) {
    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
    }
    .info {
        align-items: center;
        width: 100vw;
        border-radius: 0px;
    }
    .sub-info {
        padding: 0px;
    }
    h1 {
        font-size: 40px;
    }
    footer {
        bottom: 0px;
    }
    #informe {
        display: none;
    }
    .container {
        margin: 0px auto;
        
    }
}
@media (max-width: 450px) {
    .sub-info {
        font-size: 25px;
        line-height: 35px;
    }
}