@media (max-width: 685px) {
    .container {
        transform: translateY(30px);
    }
}
@media (max-width: 600px) {
    .conteudo {
        width: auto;
    }
    .info {
        align-items: center;
        width: 100%;
        border-radius: 0px;
    }
    h1 {
        font-size: 40px;
    }
    footer {
        bottom: 0px;
    }
    #informe {
        display: none;
    }
}
